#image{
    height: 30px;
    background-size: 100% 100%;
    border-radius: 100%;
    width: 30px;
}
.space{
    text-align: center;
}
input{
    text-align: center;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.7);


}
::placeholder{
    color: whitesmoke;

}
#ai{
    width: 100px;
}

.rowC{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
}
.fluid{
    background-color: rgba(0, 0, 0, 0.9);
    height: 500px;
}